body{
    border: solid black;
}
thead{
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
}
td{
    font-size: 15px;
    font-style: italic;
    text-align: center;    
}
